/* Custom Fonts for AEP Preview Plugin */

/*
 * Add your custom font definitions here
 *
 * Example:
 * @font-face {
 *     font-family: 'CustomFont';
 *     src: url('../Font/CustomFont.woff2') format('woff2'),
 *          url('../Font/CustomFont.woff') format('woff'),
 *          url('../Font/CustomFont.ttf') format('truetype');
 *     font-weight: normal;
 *     font-style: normal;
 *     font-display: swap;
 * }
 */

/* Adobe Clean (example - add actual font files to Font directory) */
/*
@font-face {
    font-family: 'Adobe Clean';
    src: url('../Font/AdobeClean-Regular.woff2') format('woff2'),
         url('../Font/AdobeClean-Regular.woff') format('woff'),
         url('../Font/AdobeClean-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('../Font/AdobeClean-Bold.woff2') format('woff2'),
         url('../Font/AdobeClean-Bold.woff') format('woff'),
         url('../Font/AdobeClean-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
*/
